<ng-container>
    <div *ngIf="spinner; else detalleActor" class="d-flex justify-content-around" [style]="anchoSpinner">
        <span class="fs-3 fw-bold">Cargando...</span>
        <div class="spinner-border text-danger text-center" style="align-self: center; scale: 1.2;"></div>
    </div>
    <ng-template #detalleActor>
        <div *ngIf="item" style="height: 100% !important;" class="card">
            <div class="card-header bg-dark text-light">
                <h3 class="card-title">
                    Detalles Repartidor
                </h3>
            </div>
            <div class="card-body">
                <h5 class="card-subtitle">Nombre Repartidor</h5>
                <p class="card-text">{{item?.nombre}}</p>   
                <h5 class="card-subtitle">DNI</h5>
                <p class="card-text">{{item?.dni}}</p>
                <h5 class="card-subtitle">Edad</h5>
                <p class="card-text">{{item?.edad}}</p>
                <h5 class="card-subtitle">Capacidad de transporte</h5>
                <p class="card-text">{{item?.capacidadTransporte}}</p>
                <h5 class="card-subtitle">Unidad Propia</h5>
                <p class="card-text">{{item?.unidadPropia == true ? 'Si' : 'NO'}}</p>
            </div>
        </div>
    </ng-template>
</ng-container>