<nav class="navbar bg-dark navbar-expand-lg text-light m-0 p-1 fw-bold d-flex justify-content-end" style="z-index: 10;">
    <!-- <div class="mx-2">
        <img src="assets/logo/logo.jpg" class="logo">
    </div> -->
    <div class="mx-5">
        <button  routerLink="../bienvenido"  class="btn fw-bold fs-5 btn-warning mx-2">
            Bienvenido
        </button>
        <!-- <button [hidden]="!verificarEstadoDeUsuario()" routerLink="../home"  class="btn fw-bold fs-5 btn-warning mx-2">
            Home
        </button> -->
        <button [hidden]="!verificarEstadoDeUsuario()" routerLink="../altas"  class="btn fw-bold fs-5 btn-warning mx-2">
            Altas
        </button>
        <button [hidden]="!verificarEstadoDeUsuario()" routerLink="../detalles"  class="btn fw-bold fs-5 btn-warning mx-2">
            Detalles
        </button>
        <button [hidden]="!verificarEstadoDeUsuario()" routerLink="../salenPizzas"  class="btn fw-bold fs-5 btn-warning mx-2">
            Salen Pizzas
        </button>        
        <button [hidden]="verificarEstadoDeUsuario()" routerLink="../login" class="btn fw-bold fs-5 btn-outline-primary mx-2">
            Login
        </button>
        <button [hidden]="verificarEstadoDeUsuario()" routerLink="../registro" class="btn fw-bold fs-5 btn-outline-primary mx-2">
            Registro
        </button>
        <button [hidden]="!verificarEstadoDeUsuario()" (click)="desloguear()" class="btn fw-bold fs-5 btn-outline-danger mx-2">
            Logout
        </button>
    </div>
</nav>